<ng-container *ngIf="guest">
  <input accept="image/*" type="file" capture="user" (change)="onNativeInputFileSelect($event)" #nativeInput hidden/>
  <ng-container *ngIf="guest.photo_url">
    <mat-card *ngIf="!comparing && !comparisonDone">
      <img mat-card-image [src]="'../../../assets/twins/' + randomImageIndex + '.jpg'">
      <mat-card-content>
        <h3>Vilken av de andra festprissarna är du mest lik?</h3>
        <p>Låt Mallans killes dator ge dig svaret genom att jämföra storlek och avstånd mellan ögon, näsa, mun och
          haka.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="button" color="accent" (click)="acquireFromCamera()">Jämför</button>
      </mat-card-actions>
    </mat-card>
    <div *ngIf="comparing" id="twins-comparison-spinner">
      <mat-progress-spinner *ngIf="comparing" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="foundTwin && twin" class="twin-info">
      <p>Du är mest lik:</p>
      <img [src]="twinPhotoUrl" class="avatar twins-image">
      <div>{{twin.name}} ({{likeness}}%)</div>
      <div>{{twin.relationship_description}}</div>
      <button mat-raised-button type="button" color="primary" (click)="reset()">Prova igen</button>
    </div>
    <div *ngIf="foundPrankster && twin" class="twin-info">
      <p>Du är inte lik dig själv idag. Du är mer lik:</p>
      <img [src]="twinPhotoUrl" class="twins-image avatar">
      <div>{{twin.name}}</div>
      <div>{{twin.relationship_description}}</div>
      <button mat-raised-button type="button" color="primary" (click)="reset()">Prova igen</button>
    </div>
    <div *ngIf="unrecognized" class="twin-info">
      <img src="../../../assets/SVG/party_animals/7.svg" class="twins-image">
      <p>Det gick inte att hitta något känt ansikte.</p>
      <button mat-raised-button type="button" color="primary" (click)="reset()">Prova igen kompis</button>
    </div>
  </ng-container>
  <ng-container *ngIf="!guest.photo_url">
    <mat-card>
      <img mat-card-image src="../../../assets/ahahah.gif">
      <mat-card-content>
        <h3>Nähä då!</h3>
        <p>För att använda den här funktionen måste du ha en profilbild.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="button" color="accent" (click)="navigateToProfilePage()">Välj profilbild</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</ng-container>
