<mat-toolbar class="mat-elevation-z2">
  <img *ngIf="authService.isLoggedIn"
       class="avatar thumbnail"
       [src]="photoUrl"
       [matMenuTriggerFor]="userMenu">
  <div class="logo">
    <img src="../assets/SVG/broad_logo.svg">
  </div>
</mat-toolbar>
<mat-menu #userMenu>
  <button type="button" mat-menu-item (click)="doLogout()">Logga ut {{userName}}</button>
  <button *ngIf="inPartyContext" type="button" mat-menu-item (click)="router.navigateByUrl('profile')">Byt profilbild</button>
</mat-menu>
<router-outlet></router-outlet>
