@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Baloo');

$general-typography: mat-typography-config(
  $font-family: '"Baloo"'
);

@include mat-core($general-typography);

$birfdaygal-primary: mat-palette($mat-teal, 300);
$birfdaygal-accent: mat-palette($mat-deep-orange);
$birfdaygal-theme: mat-dark-theme($birfdaygal-primary, $birfdaygal-accent);

@include angular-material-theme($birfdaygal-theme);

$material-design-icons-font-path: "../node_modules/material-design-icons-iconfont/dist/fonts/";
@import "../node_modules/material-design-icons-iconfont/dist/material-design-icons";

@import "../node_modules/chartist/dist/scss/chartist";

*:focus {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Baloo", sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  img {
    height: 0.9em;
    vertical-align: middle;
  }
}

.logo {
  right: 16px;
  top: 0;
  padding-top: 12px;
  position: absolute;
  vertical-align: top;
  img {
    height: 32px;
  }
}

.pin-code-field {
  font-size: 32px;
  width: 2.45em;
  font-family: monospace;
}

.login-page {
  text-align: center;
}

.mat-app-background, .mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: #2E2E4A;
  color: mat-color($birfdaygal-primary, 100);
}

.mat-toolbar {
  background-color: mat-color($birfdaygal-primary, 900);
  position: relative;
}

.error-background {
  background-color: mat-color($mat-red, 800);
  opacity: 0.4;
  width: 100%;
  height: calc(100% - 56px);
  position: absolute;
  z-index: -1;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid mat-color($birfdaygal-primary, 500);
}

.twins-image {
  width: 200px;
  height: 200px;
}

.thumbnail {
  width: 32px;
  height: 32px;
}

.guest-list-entry {
  background-color: mat-color($birfdaygal-primary, 700);
}

.guest-list-entry.collapsed {
  background-color: mat-color($birfdaygal-primary, 800);
}

.guest-details {
  margin: 0 !important;
}

.guest-list-thumbnail {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

.guest-list-thumbnail.expanded {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.guest-description {
  color: mat-color($birfdaygal-primary, 100);
  margin-bottom: 16px;
}

.guest-performance-card {
  margin: 0 !important;
  color: mat-color($birfdaygal-primary, 200) !important;
}

.guest-performance-card-total {
  text-align: right;
}

.ct-bar {
  stroke-width: 2px;
  stroke: mat-color($birfdaygal-accent, 500) !important;
}

.ct-label {
  color: mat-color($birfdaygal-primary, 500);
}

.signup-form, .profile-form {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  max-width: 736px;
  padding-bottom: 16px;
  .mat-form-field {
    margin-bottom: 16px;
    margin-top: 8px;
    width: 100%;
  }
  .revert-decision-button {
    margin-top: 16px;
  }
  button {
    width: 100%;
  }
  mat-progress-bar {
    position: relative;
    width: 100%;
    top: 6px;
    left: 0;
    max-width: 736px;
  }
}

.will-not-attend-message, .signup-closed-message {
  margin: 16px;
}

#signed-up-message, #welcome {
  margin: 16px;
}

#signed-up-buttons, #welcome-buttons, #regret-button {
  position: absolute;
  bottom: 0;
  width: calc(100% - 32px);
  button {
    width: 100%;
    margin-bottom: 16px;
  }
}

.signup-profile-image {
  width: calc(100% - 2px);
  object-fit: cover;
  margin-bottom: 8px;
}

.signup-image, .signup-profile-image {
  border: 1px solid mat-color($birfdaygal-primary, 400);
}

.signup-image {
  width: 100%;
}

.signup-profile-image.invalid {
  opacity: .3;
}

.signup-profile-image-selector {
  margin-bottom: 16px !important;
}

.profile-image-selector {
  margin-bottom: 16px;
}

.music-quiz-question-card {
  .name {
    font-weight: bold;
  }
  img {
    opacity: 0.85;
    object-fit: cover;
    height: 110px;
  }
  .reward-text {
    color: mat-color($birfdaygal-primary, 400);
    margin-top: 1em;
  }
  .reward-point {
    font-weight: bold;
  }
}

#main {
  height: calc(100% - 112px);
  overflow-y: scroll;
}

#twins-comparison-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100% - 112px);
}

.twin-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;
  .twins-image {
    margin-bottom: 12px;
  }
  button {
    margin-top: 16px;
  }
}

.mat-card {
  margin: 8px;
  background-color: mat-color($birfdaygal-primary, 900);
  color: mat-color($birfdaygal-primary, 100);
}

.mat-card-header .mat-card-title {
  line-height: 15px;
}

.party-countdown {
  text-align: center;
  img {
    margin-top: 64px;
    width: 200px;
  }
  .progress {
    margin: 32px;
  }
}

.quiz-response-image {
  padding-top: 24px;
  height: 200px;
}

.quiz-response-incorrect {
  color: mat-color($birfdaygal-accent, 600);
}

.quiz-answer-card {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  height: 16px;
  background-color: mat-color($birfdaygal-primary, 800);
  font-weight: bold;
}

.quiz-response, .music-quiz-paused {
  text-align: center;
  color: mat-color($birfdaygal-primary, 100);
  padding: 16px;

  .name {
    font-weight: bold;
  }
  .decoration-image {
    display: block;
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid mat-color($birfdaygal-primary, 400);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    margin-top: 24px;
  }
  .mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
  }
}

.wrong {
  color: mat-color($birfdaygal-accent, 400);
}

.music-quiz-stats-card {
  margin: 32px 32px 8px;
  text-align: center;
  color: mat-color($birfdaygal-primary, 100);
  background-color: #2E2E4A;
  border: 1px solid mat-color($birfdaygal-primary, 400);
  padding: 4px;
  border-radius: 12px;
  font-weight: normal;
  .points {
    font-weight: bold;
  }
}

$bottom-nav-label-font-size-active: 12px;
$bottom-nav-action-min-width: 52px;
$bottom-nav-action-horizontal-margin: 0;
$bottom-nav-border-color: none;
$bottom-nav-label-font-family: "Baloo";

@import '~material-bottom-nav';

.bottom-nav {
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  @include bottom-nav(mat-color($birfdaygal-primary, 900), mat-color($birfdaygal-primary, 100), mat-color($birfdaygal-primary, 400), false);
}
